@import url("mixins.less");

.show-grid .inner, .show-grid .footer, .show-grid .lead {
	background-image: repeating-linear-gradient(to top, blue 0, transparent 1px, transparent @line-height);
}

#dev_grid-toggle {
	background-color: black;
	border-top-left-radius: 5px;
	bottom: 0;
	color: white;
	cursor: pointer;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	opacity: 0.5;
	padding: 2px 8px;
	position: fixed;
	right: 0;
	transition: opacity .25s;
	z-index: 5001;
}
#dev_grid-toggle:hover {
	opacity: 1;
}

.dev_grid-verticals {
	display: none;
}
.show-grid .dev_grid-verticals {
	bottom: 0;
	display: block;
	height: 100%;
	left: 0;
	overflow: hidden;
	padding: 0 @line-height;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 5000;

	div {
		.columns(1);

		border-left: 1px solid red;
		border-right: 1px solid red;
		float: left;
		height: 100%;
	}
	span {
		border-left: 1px solid purple;
		content: '';
		display: block;
		float: left;
		height: 100%;
		margin: -1px;
		padding: 0;
		width: 0px;
	}
	div:first-child {
		border-left: 1px solid red;
	}
}
