// Settings
@import url("settings.less");

html, body {
	background: @background;
	width: 100%;
}

.navbar {
	background-color: #191919;
	border-bottom: 1px solid #262626;
	color: rgba(171, 171, 171, 0.5);
	text-shadow: 0 0 0 #ABABAB;
	text-transform: uppercase;
	width: 100%;
	.container {
		width: 1024px;
	}
	.navbar-brand, .navbar-brand img {
		height: 50px;
		margin: 0 auto;
		padding: 0;
	}
	a {
		display: inline-block;
		transition: all .25s;
	}
	a:hover {
		background-color: #262626;
	}
	img {
		border-color: #262626;
		border-style: solid;
		border-width: 0 1px;
	}
	li {
		border-right: 1px solid #262626;
		padding: 0;
		text-align: center;
	}
}

body {
	.text();
}

.container {
	width: 100%;
}

#page {
	background-color: hsl(0, 0%, 95%);
	background-position: 0 10px;
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
	min-height: 100%;
	margin: 3em auto 0 auto;
	padding: 0;
	width: 1024px;
}

#page > .inner {
	margin: 0 @line-height;
	padding: 0 @line-height;
}

footer {
	background-color: #191919;
	color: hsl(0, 0%, 60%);
	font-size: round((@font-size * 0.9), 2);
	margin: 0 auto;
	padding: @line-height;
	width: 100%;
	.container {
		width: 1024px;
	}
	ul, li {
		text-align: left;
	}
}

.warning {
	background: #FFB400;
	border-radius: 4px;
	color: black;
	display: block;
	font-family: @font-family;
	font-size: 1.1em;
	margin: @line-height 0;
	padding: @line-height;
}

.image {
	text-align: center;
	width: 33%;
	margin: 0 auto;
}
