/***********************************************/
/************** FRONT PAGE STYLES **************/
/***********************************************/
@import url("settings.less");

/**
 * LEAD SECTION
 */
section.lead {
	background-color: hsl(0, 0%, 10%);
	color: white;
	font-size: 17px;
	margin-bottom: @line-height;
	overflow: hidden;
	padding: @line-height;

	h1, p {
		padding: 0 0 0 @line-height;
	}
	h1 {
		.columns(6);

		float: left;
	}
	h2 {
		.columns(6);

		clear: none;
		color: hsl(0, 0%, 70%);
		float: right;
		text-align: right;
	}
	p {
		.columns(12);
	}
	.chat-now {
		.columns(2);

		background-color: hsl(0, 0%, 70%);
		border-radius: 4px;
		border: none;
		color: hsl(0, 0%, 0%);
		float: right;
		font-family: 'M+ 1p';
		font-weight: 400;
		height: (@line-height * 3);
		margin-left: @line-height;
		min-width: 125px;
		padding: @line-height 0;
		text-align: center;
		text-transform: uppercase;
		transition: background .25s;
	}
	.chat-now:hover, .chat-now:active {
		background-color: hsl(0, 0%, 85%);
		// Zeroes the border added on a:active, a:hover
		border: none;
	}
	.chat-now:after {
		content: "\203a";
		font-size: 20px;
		margin-left: 3px;
	}
	.chat-eventually {
		.columns(2);

		border: none;
		clear: right;
		color: hsl(0, 0%, 70%);
		float: right;
		font-size: 0.8em;
		margin-bottom: @line-height;
		margin-left: @line-height;
		min-width: 125px;
		text-align: center;
		transition: color .25s;
	}
	.chat-eventually:hover, .chat-eventually:active {
		// Zeroes the border added on a:active, a:hover
		border: none;
		color: hsl(0, 0%, 90%);
	}
}
section.lead.home h1 {
	.columns(12);
}

/**
 * NEWS SECTION
 */
section.news {
	.columns(12);

	ul {
		list-style: none;
	}
	h1 {
		display: block;
	}
	time {
		color: hsl(0, 0%, 50%);
		display: inline;
	}
	address.person {
		display: inline;
	}
	blockquote {
		margin-top: 20px;
	}
}

/**
 * FORUMS BOX
 */
section.forums {
	.columns(6);

	background-color: hsl(0, 0%, 80%);
	border-radius: 5px 5px 5px 5px;
	float: right;
	margin-bottom: @line-height;
	margin-left: @grid-margins;
	margin-top: @line-height;
	padding: @line-height;

	iframe {
		display: block;
	}
}
