/***********************************************/
/************ LAYER 1 LAYOUT STYLES ************/
/***********************************************/
@import url("settings.less");
@import url("mixins.less");

/*** GENERICS ***/
/* BODY */
body,
html {
	.zero;
	.font;
}
/* NAVBAR */
.navbar {
	.dark;

	border-bottom-width: 1px;
	position: relative;
	width: 100%;
}
nav {
	.font-head;
	.box-sizing(content-box);
	.columns-container;

	ul {
		.zero;

		list-style: none;
	}
}
ul.horizontal {
	.flexbox;

	align-items: stretch;
}
ul.vertical {
	display: block;
}
/*  MIDWIDTH */
.midwidth {
	margin: 0 auto;
	max-width: 1024px;
	width: 100%;
}

/*** SPECIFICS ***/
.navbar-header {
	color: rgba(171, 171, 171, 0.5);
	height: 50px;
	text-shadow: 0 0 0 #ABABAB;
	text-transform: uppercase;

	li {
		border: 0px solid #262626;
		border-left-width: 1px;
		width: 10%;
		
		a {
			display: block;
			height: 100%;
			padding-top: 16px;
			text-align: center;
			width: 100%;
		}
		a:hover {
			.dark;
		}
	}
	li:last-child,
	li.logo {
		border-right-width: 1px;
	}
	li.logo {
		margin-right: auto;
		width: auto;

		a {
			padding: 0;
		}
		img {
			border: none;
			display: block;
		}
	}
}
.navbar-footer {
	ul.horizontal > li {
		width: (100% / 3);
	}
}

