.navbar a {
	width: 100%;
	border-bottom: 1px solid hsl(0, 0%, 15%);
	min-width: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 50px;
	font-size: 16px;
	-webkit-tap-highlight-color: hsla(30, 100%, 50%, 0.3);
}
.navbar a img {
	margin: 0 auto;
	border-width: 0;
	height: 50px;
}
.navbar nav {
	width: 100%;
}
.navbar ul li {
	min-width: 20px;
	width: 25%;
}
.navbar ul li a {
	padding-top: 13px;
}

.container {
	padding: 5px 15px;
}

.footer {
	height: 400px;
	margin-top: -400px;
}
.footer nav ul {
	margin: 0;
	padding: 15px;
}
.footer nav > ul > li {
	margin-bottom: 30px;
	width: 50%;
	clear: left;
}
.footer nav > ul > li:nth-child(even) {
	clear: right;
	float: right;
}

#page {
	padding-bottom: 400px;
}
