/***********************************************/
/****************** CSS RESET ******************/
/***********************************************/
@import url("settings.less");

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	.text();
	background: @background;
}

a {
	color: inherit;
	text-decoration: none;
	transition: border-bottom .15s;
	border-bottom: 1px solid hsla(0, 0%, 50%, 0);
}
a:hover, a:active {
	border-bottom: 1px solid hsla(0, 0%, 50%, 0.5);
}

h1, h2, h3, h4, h5, h6 {
	.head(0);
}

h1 { .head(1); }
h2 { .head(2); }
h3 { .head(3); }
h4 { .head(4); }
h5 { .head(5); }
h6 { .head(6); }

p, section.text > ul {
	margin-bottom: @line-height;
}

section.text > ul {
	margin-left: (@line-height * 2);
}
