@base: "..";
@line-height: 20px;
@font-size: 15px;
@background: url("@{base}/img/bg.png");

@grid-columns: 12;
@grid-margins: 1%;

.text () {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: @font-size;
	line-height: @line-height;
	font-weight: 300;
	color: hsl(0, 0%, 20%);
}
.head (0) {
	font-family: 'M+ 1p', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
}
.head (@level) {
	@size: round((30px - 3px * @level), 2);
	font-size: @size;
	line-height: (ceil(@size / @line-height) * @line-height);
}
.columns-container () {
	width: 100%;
	max-width: 1024px;
}
.columns (@cols: 1, @margins: @grid-margins) {
	width: round(((@cols / @grid-columns) * 100% - @margins), 2);
	margin-left: (@margins / 2);
	margin-right: (@margins / 2);
	padding-left: 0.5em;
	padding-right: 0.5em;
}
