@import url("fonts/mplus-1p-light.css");
@import url("fonts/mplus-1p-bold.css");
@import url("fonts/awesome.css");
/***********************************************/
/****************** CSS RESET ******************/
/***********************************************/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  color: #333333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  background: url("../img/bg.png");
  height: 100%;
}
strong {
  font-weight: 500;
}
a {
  border-bottom: 1px solid rgba(128, 128, 128, 0);
  color: inherit;
  text-decoration: none;
  transition: border-bottom 0.15s;
}
p a,
.text a {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  transition: border-bottom 0.15s, color 0.15s;
}
p a:hover,
.text a:hover {
  border-bottom: 1px solid rgba(128, 128, 128, 0.7);
  color: black;
}
a:hover,
a:active {
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'M+ 1p', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
}
h1 {
  font-size: 27px;
  line-height: 40px;
}
h2 {
  font-size: 24px;
  line-height: 40px;
}
h3 {
  font-size: 21px;
  line-height: 40px;
}
h4 {
  font-size: 18px;
  line-height: 20px;
}
h5 {
  font-size: 15px;
  line-height: 20px;
}
h6 {
  font-size: 12px;
  line-height: 20px;
}
table {
  border-collapse: collapse;
  margin: 20px 0;
}
table td {
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 24%;
  margin: 0;
  padding-top: 20px;
}
p,
section.text > ul {
  margin-bottom: 20px;
}
section.text > ul {
  margin-left: 40px;
}
/***********************************************/
/*************** SITEWIDE STYLES ***************/
/***********************************************/
/**
 * NAVBAR STYLES
 */
.navbar {
  background-color: #191919;
  border-bottom: 1px solid #262626;
  color: rgba(171, 171, 171, 0.5);
  font-family: 'M+ 1p', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  height: 51px;
  position: absolute;
  text-shadow: 0 0 0 #ABABAB;
  text-transform: uppercase;
  top: 0;
  width: 100%;
}
.navbar nav {
  margin-left: 0%;
  margin-right: 0%;
  width: 25%;
  border-left: 1px solid #262626;
  float: right;
  height: 50px;
  padding: 0;
}
.navbar ul {
  list-style: none;
}
.navbar img {
  border-color: #262626;
  border-style: solid;
  border-width: 0 1px;
  display: block;
}
.navbar a {
  display: inline-block;
  float: left;
  transition: all .25s;
}
.navbar a:hover {
  background-color: #262626;
}
.navbar li {
  margin-left: 0%;
  margin-right: 0%;
  width: 33.33%;
  border-right: 1px solid #262626;
  float: left;
  height: 50px;
  padding: 0;
}
.navbar li a {
  height: 101%;
  padding-top: 16px;
  text-align: center;
  width: 100%;
}
/**
 * CONTAINER STYLES
 */
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
/**
 * PAGE WRAPPER STYLES
 */
#page {
  background-color: #f2f2f2;
  background-position: 0 10px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
  min-height: 100%;
  padding-bottom: 180px;
}
#page > .inner {
  margin-left: 20px;
  margin-right: 20px;
}
#page .text {
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 99%;
  padding-top: 20px;
}
/**
 * PAGINATOR STYLES
 */
section.paginator {
  background-color: #1a1a1a;
  color: white;
  margin-top: 20px;
  padding: 20px 0;
  height: 80px;
  overflow: auto;
  text-align: center;
}
section.paginator.bottom {
  border-bottom: 1px solid #262626;
  margin-top: 20px;
}
section.paginator.top {
  margin-bottom: 20px;
}
section.paginator a.page-older,
section.paginator a.page-newer {
  font-size: 27px;
  line-height: 40px;
  font-family: 'Font Awesome', FontAwesome, none;
  color: #999;
  margin: 0 20px;
  font-size: 2em;
  vertical-align: middle;
  display: inline-block;
  height: 40px;
  width: 40px;
  transition: color .2s;
}
section.paginator a.page-older:hover,
section.paginator a.page-newer:hover {
  color: #EEE;
  border: none;
}
section.paginator a.page-older.disabled,
section.paginator a.page-newer.disabled,
section.paginator a.page-older .disabled:hover,
section.paginator a.page-newer .disabled:hover {
  color: #222;
  cursor: default;
}
section.paginator a.page-older {
  float: right;
}
section.paginator a.page-newer {
  float: left;
}
section.paginator h1 {
  display: inline;
}
/**
 * FOOTER STYLES
 */
.footer {
  background-color: #191919;
  color: #999999;
  font-size: 13.5px;
  height: 180px;
  margin-top: -180px;
  overflow: hidden;
}
.footer .container {
  padding: 0 20px;
}
.footer nav {
  overflow: hidden;
  padding-top: 20px;
}
.footer h1 {
  color: #666666;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.footer ul {
  list-style: none;
}
.footer ul ul {
  padding-left: 20px;
}
.footer nav > ul > li {
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 32.33%;
  float: left;
}
.footer .copyright {
  padding: 20px 0;
  text-align: center;
}
/* I'm just gonna cram this here for now */
section.person {
  width: 20%;
  float: right;
}
.info dt {
  font-weight: bold;
}
.info dd {
  margin-left: 5px;
}
/***********************************************/
/************** FRONT PAGE STYLES **************/
/***********************************************/
/**
 * LEAD SECTION
 */
section.lead {
  background-color: #1a1a1a;
  color: white;
  font-size: 17px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 20px;
}
section.lead h1,
section.lead p {
  padding: 0 0 0 20px;
}
section.lead h1 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 49%;
  float: left;
}
section.lead h2 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 49%;
  clear: none;
  color: #b3b3b3;
  float: right;
  text-align: right;
}
section.lead p {
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 99%;
}
section.lead .chat-now {
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 15.67%;
  background-color: #b3b3b3;
  border-radius: 4px;
  border: none;
  color: #000000;
  float: right;
  font-family: 'M+ 1p';
  font-weight: 400;
  height: 60px;
  margin-left: 20px;
  min-width: 125px;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  transition: background .25s;
}
section.lead .chat-now:hover,
section.lead .chat-now:active {
  background-color: #d9d9d9;
  border: none;
}
section.lead .chat-now:after {
  content: "\203a";
  font-size: 20px;
  margin-left: 3px;
}
section.lead .chat-eventually {
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 15.67%;
  border: none;
  clear: right;
  color: #b3b3b3;
  float: right;
  font-size: 0.8em;
  margin-bottom: 20px;
  margin-left: 20px;
  min-width: 125px;
  text-align: center;
  transition: color .25s;
}
section.lead .chat-eventually:hover,
section.lead .chat-eventually:active {
  border: none;
  color: #e6e6e6;
}
section.lead.home h1 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 99%;
}
/**
 * NEWS SECTION
 */
section.news {
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 99%;
}
section.news ul {
  list-style: none;
}
section.news h1 {
  display: block;
}
section.news time {
  color: #808080;
  display: inline;
}
section.news address.person {
  display: inline;
}
section.news blockquote {
  margin-top: 20px;
}
/**
 * FORUMS BOX
 */
section.forums {
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 49%;
  background-color: #cccccc;
  border-radius: 5px 5px 5px 5px;
  float: right;
  margin-bottom: 20px;
  margin-left: 1%;
  margin-top: 20px;
  padding: 20px;
}
section.forums iframe {
  display: block;
}
/***********************************************/
/************* POLICY PAGE STYLES **************/
/***********************************************/
.tldr {
  font-family: 'M+ 1p', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  border-bottom: 1px solid #262626;
  border-top: 1px solid #262626;
  font-size: 20px;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
}
.warning {
  background: #FFB400;
  border-radius: 4px;
  color: black;
  display: block;
  font-family: 'M+ 1p';
  font-size: 1.1em;
  margin: 20px 0;
  padding: 20px;
}
@media screen and (max-width: 450px) {
  /***********************************************/
  /**************** NAVBAR STYLES ****************/
  /***********************************************/
  .navbar {
    height: 120px;
  }
  .navbar a {
    -webkit-tap-highlight-color: rgba(255, 128, 0, 0.3);
    border-bottom: 1px solid #262626;
    height: 60px;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .navbar a img {
    border: none;
    height: 60px;
    margin: 0 auto;
  }
  .navbar nav {
    border-left: none;
    height: 60px;
    width: 100%;
  }
  .navbar ul li {
    height: 60px;
    min-width: 40px;
    width: 25%;
  }
  .navbar ul li:last-child {
    border-right: none;
  }
  .navbar ul li a {
    border-bottom: none;
    padding-top: 20px;
  }
  #page {
    margin-top: 120px;
    padding-bottom: 360px;
  }
  section.lead h1,
  section.lead p {
    padding: 0;
  }
  section.lead .chat-now {
    margin-top: 20px;
    width: 100%;
  }
  .twitter {
    display: none;
  }
  .footer {
    height: 360px;
    margin-top: -360px;
  }
  .footer nav > ul {
    margin: 0;
    padding: 0;
  }
  .footer nav > ul > li {
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 49%;
    clear: left;
    margin-bottom: 30px;
  }
  .footer nav > ul > li:nth-child(even) {
    clear: right;
    float: right;
  }
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22css%2Fstyle.less%22%2C%22css%2Freset.less%22%2C%22css%2Fsettings.less%22%2C%22css%2Fglobal.less%22%2C%22css%2Fhome.less%22%2C%22css%2Fpolicypage.less%22%2C%22css%2Fmobile.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22YAWY%3BYACA%3BYACA%3B%3B%3B%3BACRZ%3BAACA%2CCAAC%3BAACD%2CCAAC%3BEACA%2C8BAAA%3BEACG%2C2BAAA%3BEACK%2CsBAAA%3BEACR%2CSAAA%3BEACA%2CUAAA%3B%3BAAED%3BAACA%3BECNC%2CcAAA%3BEACA%2CaAAa%2C8CAAb%3BEACA%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CiBAAA%3BEDKA%2CgBCfgB%2CgBDehB%3BEACA%2CYAAA%3B%3BAAGD%3BEACC%2CgBAAA%3B%3BAAGD%3BEACC%2C%2BCAAA%3BEACA%2CcAAA%3BEACA%2CqBAAA%3BEACA%2C%2BBAAA%3B%3BAAED%2CCAAE%3BAACF%2CKAAM%3BEACL%2CiDAAA%3BEACA%2C4CAAA%3B%3BAAEA%2CCALC%2CEAKA%3BAAAD%2CKAJK%2CEAIJ%3BEACA%2CiDAAA%3BEACA%2CYAAA%3B%3BAAGF%2CCAAC%3BAAAQ%2CCAAC%3BEACT%2CiDAAA%3B%3BAAGD%3BAAAI%3BAAAI%3BAAAI%3BAAAI%3BAAAI%3BEC9BnB%2CaAAa%2CSAAS%2C8CAAtB%3BEACA%2CgBAAA%3BEAKA%2CeAAA%3BEACA%2CiBAAA%3B%3BAD2BD%3BEC5BC%2CeAAA%3BEACA%2CiBAAA%3B%3BAD4BD%3BEC7BC%2CeAAA%3BEACA%2CiBAAA%3B%3BAD6BD%3BEC9BC%2CeAAA%3BEACA%2CiBAAA%3B%3BAD8BD%3BEC%2FBC%2CeAAA%3BEACA%2CiBAAA%3B%3BAD%2BBD%3BEChCC%2CeAAA%3BEACA%2CiBAAA%3B%3BADgCD%3BECjCC%2CeAAA%3BEACA%2CiBAAA%3B%3BADkCD%3BEACC%2CyBAAA%3BEACA%2CcAAA%3B%3BAAFD%2CKAIC%3BEC%2FBA%2CiBAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3BEDgCC%2CSAAA%3BEACA%2CiBAAA%3B%3BAAIF%3BAAAG%2COAAO%2CKAAM%3BEACf%2CmBAAA%3B%3BAAGD%2COAAO%2CKAAM%3BEACZ%2CiBAAA%3B%3B%3B%3B%3B%3B%3B%3BAElED%3BEAIC%2CyBAAA%3BEACA%2CgCAAA%3BEACA%2C%2BBAAA%3BEACA%2CaAAa%2CSAAS%2C8CAAtB%3BEACA%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CYAAA%3BEACA%2CkBAAA%3BEACA%2C0BAAA%3BEACA%2CyBAAA%3BEACA%2CMAAA%3BEACA%2CWAAA%3B%3BAAfD%2COAiBC%3BEDKA%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CUAAA%3BECJC%2C8BAAA%3BEACA%2CYAAA%3BEACA%2CYAAA%3BEACA%2CUAAA%3B%3BAAvBF%2COAyBC%3BEACC%2CgBAAA%3B%3BAA1BF%2COA4BC%3BEACC%2CqBAAA%3BEACA%2CmBAAA%3BEACA%2CmBAAA%3BEACA%2CcAAA%3B%3BAAhCF%2COAkCC%3BEACC%2CqBAAA%3BEACA%2CWAAA%3BEACA%2CoBAAA%3B%3BAArCF%2COAuCC%2CEAAC%3BEACA%2CyBAAA%3B%3BAAxCF%2COA0CC%3BEDpBA%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CaAAA%3BECqBC%2C%2BBAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3BEACA%2CUAAA%3B%3BAAhDF%2COAkDC%2CGAAG%3BEACF%2CYAAA%3BEACA%2CiBAAA%3BEACA%2CkBAAA%3BEACA%2CWAAA%3B%3B%3B%3B%3BAAOF%3BED3CC%2CiBAAA%3BEACA%2CWAAA%3BEC6CA%2CcAAA%3B%3B%3B%3B%3BAAMD%3BEACC%2CyBAAA%3BEACA%2C2BAAA%3BEACA%2C2CAAA%3BEACA%2CgBAAA%3BEACA%2CgBAAA%3BEACA%2CqBAAA%3B%3BAAED%2CKAAM%3BEACL%2CiBAAA%3BEACA%2CkBAAA%3B%3BAAED%2CKAAM%3BED5DL%2CiBAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3BEC6DA%2CiBAAA%3B%3B%3B%3B%3BAAMD%2COAAO%3BEACN%2CyBAAA%3BEACA%2CYAAA%3BEACA%2CgBAAA%3BEACA%2CeAAA%3BEACA%2CYAAA%3BEACA%2CcAAA%3BEACA%2CkBAAA%3B%3BAACA%2COARM%2CUAQL%3BEACA%2CgCAAA%3BEACA%2CgBAAA%3B%3BAAED%2COAZM%2CUAYL%3BEACA%2CmBAAA%3B%3BAAbF%2COAAO%2CUAeN%2CEAAC%3BAAfF%2COAAO%2CUAgBN%2CEAAC%3BED7FD%2CeAAA%3BEACA%2CiBAAA%3BEC8FC%2CaAAa%2CiCAAb%3BEACA%2CWAAA%3BEACA%2CcAAA%3BEACA%2CcAAA%3BEACA%2CsBAAA%3BEACA%2CqBAAA%3BEACA%2CYAAA%3BEACA%2CWAAA%3BEACA%2CqBAAA%3B%3BAAEA%2COA5BK%2CUAeN%2CEAAC%2CWAaC%3BAAAD%2COA5BK%2CUAgBN%2CEAAC%2CWAYC%3BEACA%2CWAAA%3BEACA%2CYAAA%3B%3BAAED%2COAhCK%2CUAeN%2CEAAC%2CWAiBC%3BAAAD%2COAhCK%2CUAgBN%2CEAAC%2CWAgBC%3BAAhCH%2COAAO%2CUAeN%2CEAAC%2CWAiBY%2CUAAS%3BAAhCvB%2COAAO%2CUAgBN%2CEAAC%2CWAgBY%2CUAAS%3BEACpB%2CWAAA%3BEACA%2CeAAA%3B%3BAAlCH%2COAAO%2CUAqCN%2CEAAC%3BEAAc%2CYAAA%3B%3BAArChB%2COAAO%2CUAsCN%2CEAAC%3BEAAc%2CWAAA%3B%3BAAtChB%2COAAO%2CUAuCN%3BEACC%2CeAAA%3B%3B%3B%3B%3BAAQF%3BEACC%2CyBAAA%3BEACA%2CcAAA%3BEACA%2CiBAAA%3BEACA%2CaAAA%3BEACA%2CkBAAA%3BEACA%2CgBAAA%3B%3BAAND%2COAQC%3BEACC%2CeAAA%3B%3BAATF%2COAWC%3BEACC%2CgBAAA%3BEACA%2CiBAAA%3B%3BAAbF%2COAeC%3BEACC%2CcAAA%3BEACA%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CiBAAA%3BEACA%2CyBAAA%3B%3BAApBF%2COAsBC%3BEACC%2CgBAAA%3B%3BAAvBF%2COAsBC%2CGAGC%3BEACC%2CkBAAA%3B%3BAA1BH%2COA6BC%2CIAAI%2CKAAK%3BEDlJT%2CiBAAA%3BEACA%2CkBAAA%3BEACA%2CaAAA%3BECmJC%2CWAAA%3B%3BAAhCF%2COAkCC%3BEACC%2CeAAA%3BEACA%2CkBAAA%3B%3B%3BAAKF%2COAAO%3BEACN%2CUAAA%3BEACA%2CYAAA%3B%3BAAED%2CKAAM%3BEACL%2CiBAAA%3B%3BAAED%2CKAAM%3BEACL%2CgBAAA%3B%3B%3B%3B%3B%3B%3B%3BAC5LD%2COAAO%3BEACN%2CyBAAA%3BEACA%2CYAAA%3BEACA%2CeAAA%3BEACA%2CmBAAA%3BEACA%2CgBAAA%3BEACA%2CaAAA%3B%3BAAND%2COAAO%2CKAQN%3BAARD%2COAAO%2CKAQF%3BEACH%2CmBAAA%3B%3BAATF%2COAAO%2CKAWN%3BEFWA%2CiBAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3BEEVC%2CWAAA%3B%3BAAdF%2COAAO%2CKAgBN%3BEFMA%2CiBAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3BEELC%2CWAAA%3BEACA%2CcAAA%3BEACA%2CYAAA%3BEACA%2CiBAAA%3B%3BAAtBF%2COAAO%2CKAwBN%3BEFFA%2CiBAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3B%3BAExBD%2COAAO%2CKA2BN%3BEFLA%2CiBAAA%3BEACA%2CkBAAA%3BEACA%2CaAAA%3BEEMC%2CyBAAA%3BEACA%2CkBAAA%3BEACA%2CYAAA%3BEACA%2CcAAA%3BEACA%2CYAAA%3BEACA%2CaAAa%2COAAb%3BEACA%2CgBAAA%3BEACA%2CYAAA%3BEACA%2CiBAAA%3BEACA%2CgBAAA%3BEACA%2CeAAA%3BEACA%2CkBAAA%3BEACA%2CyBAAA%3BEACA%2C2BAAA%3B%3BAA3CF%2COAAO%2CKA6CN%2CUAAS%3BAA7CV%2COAAO%2CKA6CW%2CUAAS%3BEACzB%2CyBAAA%3BEAEA%2CYAAA%3B%3BAAhDF%2COAAO%2CKAkDN%2CUAAS%3BEACR%2CSAAS%2COAAT%3BEACA%2CeAAA%3BEACA%2CgBAAA%3B%3BAArDF%2COAAO%2CKAuDN%3BEFjCA%2CiBAAA%3BEACA%2CkBAAA%3BEACA%2CaAAA%3BEEkCC%2CYAAA%3BEACA%2CYAAA%3BEACA%2CcAAA%3BEACA%2CYAAA%3BEACA%2CgBAAA%3BEACA%2CmBAAA%3BEACA%2CiBAAA%3BEACA%2CgBAAA%3BEACA%2CkBAAA%3BEACA%2CsBAAA%3B%3BAAnEF%2COAAO%2CKAqEN%2CiBAAgB%3BAArEjB%2COAAO%2CKAqEkB%2CiBAAgB%3BEAEvC%2CYAAA%3BEACA%2CcAAA%3B%3BAAGF%2COAAO%2CKAAK%2CKAAM%3BEFrDjB%2CiBAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3B%3B%3B%3B%3BAE0DD%2COAAO%3BEF5DN%2CiBAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3B%3BAE0DD%2COAAO%2CKAGN%3BEACC%2CgBAAA%3B%3BAAJF%2COAAO%2CKAMN%3BEACC%2CcAAA%3B%3BAAPF%2COAAO%2CKASN%3BEACC%2CcAAA%3BEACA%2CeAAA%3B%3BAAXF%2COAAO%2CKAaN%2CQAAO%3BEACN%2CeAAA%3B%3BAAdF%2COAAO%2CKAgBN%3BEACC%2CgBAAA%3B%3B%3B%3B%3BAAOF%2COAAO%3BEFpFN%2CiBAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3BEEqFA%2CyBAAA%3BEACA%2C8BAAA%3BEACA%2CYAAA%3BEACA%2CmBAAA%3BEACA%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CaAAA%3B%3BAATD%2COAAO%2COAWN%3BEACC%2CcAAA%3B%3B%3B%3B%3BACzHF%3BEHWC%2CaAAa%2CSAAS%2C8CAAtB%3BEACA%2CgBAAA%3BEAKA%2CeAAA%3BEACA%2CiBAAA%3BEGfA%2CgCAAA%3BEACA%2C6BAAA%3BEACA%2CeAAA%3BEACA%2CcAAA%3BEACA%2CeAAA%3BEACA%2CkBAAA%3B%3BAAGD%3BEACC%2CmBAAA%3BEACA%2CkBAAA%3BEACA%2CYAAA%3BEACA%2CcAAA%3BEACA%2CaAAa%2COAAb%3BEACA%2CgBAAA%3BEACA%2CcAAA%3BEACA%2CaAAA%3B%3BmBLFuD%3B%3B%3B%3BEMjBxD%3BIACC%2CaAAA%3B%3BEADD%2COAGC%3BIACC%2CmDAAA%3BIACA%2CgCAAA%3BIACA%2CYAAA%3BIACA%2CYAAA%3BIACA%2CgBAAA%3BIACA%2CuBAAA%3BIACA%2CWAAA%3B%3BEAVF%2COAYC%2CEAAE%3BIACD%2CYAAA%3BIACA%2CYAAA%3BIACA%2CcAAA%3B%3BEAfF%2COAiBC%3BIACC%2CiBAAA%3BIACA%2CYAAA%3BIACA%2CWAAA%3B%3BEApBF%2COAsBC%2CGAAG%3BIACF%2CYAAA%3BIACA%2CeAAA%3BIACA%2CUAAA%3B%3BEAzBF%2COA2BC%2CGAAG%2CGAAE%3BIACJ%2CkBAAA%3B%3BEA5BF%2COA8BC%2CGAAG%2CGAAG%3BIACL%2CmBAAA%3BIACA%2CiBAAA%3B%3BEAIF%3BIACC%2CiBAAA%3BIACA%2CqBAAA%3B%3BEAGD%2COAAO%2CKACN%3BEADD%2COAAO%2CKACF%3BIACH%2CUAAA%3B%3BEAFF%2COAAO%2CKAIN%3BIACC%2CgBAAA%3BIACA%2CWAAA%3B%3BEAIF%3BIACC%2CaAAA%3B%3BEAGD%3BIACC%2CaAAA%3BIACA%2CkBAAA%3B%3BEAED%2COAAQ%2CIAAI%3BIACX%2CSAAA%3BIACA%2CUAAA%3B%3BEAED%2COAAQ%2CIAAI%2CKAAK%3BIJtChB%2CiBAAA%3BIACA%2CkBAAA%3BIACA%2CUAAA%3BIIuCA%2CWAAA%3BIACA%2CmBAAA%3B%3BEAED%2COAAQ%2CIAAI%2CKAAK%2CKAAI%2CUAAU%3BIAC9B%2CYAAA%3BIACA%2CYAAA%22%7D */