---
layout: default
---
{% if paginator.page > 1 %}
{% include paginator.html classes="top" %}
{% endif %}
{% if paginator.page == 1 %}
	<section class="lead home">
		<h1>Welcome to StormBit</h1>
		<a href="//webchat.{{ site.tld }}" class="chat-now">Chat Now</a>
		<a href="{{ site.base }}help/connect.html" class="chat-eventually">or connect manually</a>
		<p>StormBit is an IRC network dedicated to anything you can think of: from open source projects, to video games, to anime culture, we have a little of every community, so you can feel right at home.  We also strongly believe in free speech and take a very hands-off approach to moderation, so if you can't find a channel that suits you, come on and make one!</p>
	</section>
{% endif %}
{{ site.pagination_path }}
<div class="inner">
	<section class="news"><ul>
	{% for post in paginator.posts %}
		{% assign author = site.people[post.author] %}
		<li><article{% if forloop.first and paginator.page == 1 %} class="sticky"{% endif %}>
			<header>
				<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
				{% include person.html person=post.author size="small" %}
				<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%d %b %Y' }}</time>
			</header>
			{% if forloop.first and paginator.page == 1 %}
				<blockquote>{{ post.content }}</blockquote>
			{% else %}
				<blockquote>{{ post.content|truncatewords: 60 }} <a href="{{ post.url }}">Read More</a></blockquote>
			{% endif %}
		</article></li>
	{% endfor %}
	</ul></section>
</div>
{% if paginator.page == 1 %}
{% include paginator.html classes="bottom" %}
{% endif %}
