body {
	background:url(bg.png) repeat;
	font-family: sans-serif;
	text-align: center;
}
h1 {
	text-shadow: 0 0 10px #111;
	color: #fff;
	font-size:48pt;
	font-family: 'Oxygen', sans-serif;
	text-align: inherit;
	padding-top:10%;
}
p {
	font-size:16pt;
	font-family: 'Oxygen', sans-serif;
	color: #DDD;
	text-align: inherit;
	text-shadow: 0 0 5px #111;
}
a,a:visited {
	text-decoration: none;
	color: #EEE;
}
a:hover,a:active {
	color: #FFF;
}