<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4>About</h4>
				<ul class="list">
					<li><a href="{{ site.baseurl }}help/people.html">People</a></li>
					<li><a href="{{ site.baseurl }}help/policies.html">Policies</a></li>
					<li><a href="{{ site.baseurl }}help/">Help</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h4>IRC</h4>
				<ul class="list">
					<li><a href="//webchat.{{ site.url }}/">Web Chat</a></li>
					<li><a href="{{ site.baseurl }}help/connect.html">Connection Info</a></li>
					<li><a href="{{ site.baseurl }}help/services.html">Services</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h4>Forums</h4>
				<ul class="list">
					<li>Coming Soon!</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<p>&copy; {{ site.time | date: "%Y" }} {{ site.name }}
				<p><a href="{{ site.github }}">Source on GitHub</a>
				<p>Made with <a href="https://github.com/twbs/bootstrap">Twitter Bootstrap</a>
			</div>
		</div>
	</div>
</footer>
<!-- link jQuery's CDN provided by MaxCDN -->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
