<meta charset="{{ site.encoding }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ site.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }}{% if page.title %} &mdash; {{ page.title }}{% endif %}</title>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:site" content="{{ site.twitter }}">
<meta name="twitter:title" content="{{ site.title }}">

<meta property="og:description" content="{{ site.description }}" />
<meta property="og:image" content="/img/logo.svg" />
<meta property="og:site_title" content="{{ site.title }}" />
<meta property="og:title" content="{{ site.title }}{% if page.title %} &mdash; {{ page.title }}{% endif %}" />
<meta property="og:type" content="website" />

{% if page.author %}
	{% assign author = site.data.people[page.author] %}
	<meta name="author" content="{{ author.name }}">
	{% if author.gplus %}
		<link rel="author" href="https://plus.google.com/{{ author.gplus }}/posts"/>
	{% endif %}
	{% if author.twitter %}
		<meta name="twitter:creator" content="{{ author.twitter }}">
	{% endif %}
{% endif %}

<link rel="publisher" href="https://plus.google.com/+StormbitNet"/>
<meta name="keywords" content="{{ site.keywords }}">

<link rel="icon" type="image/png" href="/img/favicon.png">
<link rel="apple-touch-icon" type="image/png" href="/img/apple_touch_icon.png">
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
<!-- FontAwesome from MaxCDN -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
