<div id="topbar" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ site.baseurl }}">
				<img src="{{ site.baseurl }}img/logo.svg" alt="{{ site.name }}">
			</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ site.baseurl }}help/about.html">About</a></li>
				<li><a href="//webchat.{{ site.url }}/">Chat</a></li>
				<li><a href="{{ site.baseurl }}help/">Help</a></li>
			</ul>
		</div>
	</div>
</div>
