// Settings
@import "settings";

html, body {
	background: $background;
	color: hsl(0, 0%, 20%);
	font-family: $font-family;
	font-size: $font-size;
	height: 100%;
	line-height: $line-height;
	width: 100%;
}

.navbar-inverse {
	background-image: none;
	background-color: #191919;
}

.navbar {
	background-color: #191919;
	border-bottom: 1px solid #262626;
	color: rgba(171, 171, 171, 0.5);
	text-shadow: 0 0 0 #ABABAB;
	text-transform: uppercase;
	width: 100%;
	.container {
		width: 100%;
		max-width: $max-width;
	}
	.navbar-brand, .navbar-brand img {
		height: 50px;
		margin: 0 auto;
		padding: 0;
	}
	a {
		display: inline-block;
		transition: all 25s;
	}
	a:hover {
		background-color: #262626;
	}
	img {
		border-color: #262626;
		border-style: solid;
		border-width: 0 1px;
	}
	li {
		border-right: 1px solid #262626;
		padding: 0;
		text-align: center;
	}
}

.container {
	width: 100%;
	max-width: $max-width;
}

#page {
	background-color: hsl(0, 0%, 95%);
	background-position: 0 10px;
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
	margin: 3em auto 0 auto;
	min-height: 100%;
	padding: 0;
	width: 100%;
	max-width: $max-width;
}

#page > .inner {
	margin: 0 ($line-height / 2);
	padding: 0 ($line-height / 2) ($line-height / 2) ($line-height / 2);
}

footer {
	background-color: #191919;
	color: hsl(0, 0%, 60%);
	font-size: round($font-size * 0.9);
	margin: 0 auto;
	padding: $line-height;
	width: 100%;
	.container {
		width: 100%;
		max-width: $max-width;
	}
	h4 { text-align: center; }
	li { text-align: center; }
	ul { width: 50%; margin: auto; }
	a, a:hover { color: #707070 }
}

.warning {
	background: #FFB400;
	border-radius: 4px;
	color: black;
	display: block;
	font-family: $font-family;
	font-size: 1.1em;
	margin: $line-height 0;
	padding: $line-height;
}

.image {
	text-align: center;
	width: 33%;
	margin: 0 auto;

	.row {
		width: 100%;
		max-width: $max-width;
		margin: 0 auto;
	}

	ul {
		list-style: none inside none;
	}

}

.text section.person {
	float: right;
}

.copyright {
	padding: $line-height;
}
