// Settings
@import "settings";

section.lead {
	background-color: hsl(0, 0%, 10%);
	color: white;
	font-size: 17px;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 20px;
	p {
		padding: 0 0 0 $line-height;
	}
	h1 {
		float: left;
		padding: 0 0 0 5px; /* nasty */
		width: 60%;
	}
	h2 {
		color: hsl(0, 0%, 70%);
		float: right;
		overflow: hidden;
		text-align: right;
		width: 40%;
	}
}

section.news {
	ul {
		list-style: none;
	}
	h1 {
		display: block;
	}
	time {
		color: hsl(0, 0%, 50%);
		display: inline;
	}
	blockquote {
		margin-top: 20px;
	}
}

section.forums {
	background-color: hsl(0, 0%, 80%);
	border-radius: 5px;
	float: right;
	margin: $line-height;
	padding: $line-height;

	iframe {
		display: block;
	}
}

section.person {
	background-color: hsl(0, 0%, 80%);
	border-radius: 5px;
	margin: $line-height;
	max-width: 250px;
	padding: $line-height;
}

section a {
	color: #191919;
	display: inline-block;
	transition: all 25s;
}

section a:hover {
	color: #262626;
}
