/* M+ 1p Bold */
@font-face {
    font-family: 'M+ 1p';
    src: url('mplus-1p-bold.eot');
    src: url('mplus-1p-bold.eot?#iefix') format('embedded-opentype'),
         url('mplus-1p-bold.woff') format('woff'),
         url('mplus-1p-bold.ttf') format('truetype'),
         url('mplus-1p-bold.svg#m_1pbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
