/* M+ 1p Regular */
@font-face {
    font-family: 'M+ 1p';
    src: url('mplus-1p-regular.eot');
    src: url('mplus-1p-regular.eot?#iefix') format('embedded-opentype'),
         url('mplus-1p-regular.woff') format('woff'),
         url('mplus-1p-regular.ttf') format('truetype'),
         url('mplus-1p-regular.svg#m_1pregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
