<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.name }}</title>
	<meta name="description" content="StormBit Community">
	<link rel="stylesheet" type="text/css" href="{{ site.base }}css/style.css">
	{% if site.env == 'development' %}
	<link rel="stylesheet" type="text/css" href="{{ site.base }}css/dev-grid.css">
	<script id="dev_grid-toggle" src="{{ site.base }}css/dev-grid.js"></script>
	{% endif %}
</head>
<body>
	<div id="topbar" class="navbar">
		<div class="container">
			<a href="/"><img src="{{ site.base }}img/logo.svg" height=50 alt="{{ site.name }}"></a>
		<nav><ul>
			<li><a href="//iris.stormbit.net/">Chat</a></li>
			<li><a href="//forums.stormbit.net">Forum</a></li>
			<li><a href="{{ site.base }}help/">Help</a></li>
			<li><a href="{{ site.base }}about/">About</a></li>
		</ul></nav>
		</div>
	</div>
	<div id="page" class="container">
		{{ content }}
	</div>
	<div id="footer" class="footer">
		<div class="container">
			<nav><ul>
				<li><h1>About</h1><ul>
					<li><a href="{{ site.base }}about/people.html">People</a></li>
					<li><a href="{{ site.base }}about/policies.html">Policies</a></li>
					<li><a href="{{ site.base }}help/">Help</a></li>
					<li><a href="//status.stormbit.net">Status</a></li>
				</ul></li>
				<li><h1>IRC</h1><ul>
					<li><a href="#">Web Chat</a></li>
					<li><a href="{{ site.base }}help/connect.html">Connection Info</a></li>
					<li><a href="{{ site.base }}help/services.html">Services</a></li>
				</ul></li>
				<li><h1>Forums</h1><ul>
					<li><a href="#">Video Games</a></li>
					<li><a href="#">Computers and Technology</a></li>
					<li><a href="#">General Discussion</a></li>
				</ul></li>
			</ul></nav>
			<div class="copyright">&copy; {{ site.time | date: "%Y" }} {{ site.name }}</div>
		</div>
	</div>

	<!-- Made with love by Nuck -->
	<!-- I'll accept payment in lucies. -->
</body>
</html>
