---
layout: default
---

<section class="lead">
	<h1>{{ page.title }}</h1>
	{% if page.subtitle %}
	<h2>{{ page.subtitle }}</h2>
	{% endif %}
</section>
<div class="inner">
	<section>
		<span class="warning">
			The following page may contain information that is out-of-date and 
			is provided for archival purposes only.
			The StormBit IRC network <a href="https://stormbit.net/2024/06/01/stormbit-has-shut-down.html">shut-down on the 1st of June, 2024</a>.
		</span>
		{{content}}
	</section>
</div>
